<div class="container-fluid bg-primary">
    <h2 class="text-center">USER</h2>
</div>
<div ng-show="!odobreno" class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="res/logo.png" />
        <p class="profile-name-card text-center">Log in to see your excursions!</p>
        <form class="form-signin">
            <span class="reauth-email"></span>
            <input type="email" class="form-control" placeholder="Email address" ng-model="loginMail" required>
            <button ng-click="login(loginMail)" class="btn btn-primary btn-block btn-signin" type="submit">
                <span ng-show="!checkingDB">Sign in</span>
                <i ng-show="checkingDB" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
            </button>
        </form>
    </div>
    <br>
    <div class="alert alert-danger" ng-show="poruka != ''">
        <small>{{poruka}}</small>
    </div>
</div>

<div ng-show="odobreno" class="container">
    <h1 class="text center"><em>Hello adventurers!</em></h1>
    <p class="text-center"><em>Thank you for signing up for the adventures. Here you can download your PDF files</em></p>
    <div>
        <button class="btn btn-success btn-block" ng-repeat="x in nizPDF" ng-click="spremiPDF(x)">{{x.Izlet}}</button>
    </div>
    <br>
    <div class="alert alert-success" ng-show="poruka != ''">
        <small>{{poruka}}</small>
    </div>
</div>